<div class="container">
  <h1>Listing participants</h1>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Email</th>
      <th>Color Perception Problems</th>
      <th>Synesthesia</th>
      <th>Color Blindness</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @participants.each do |participant| %>
    <tr>
      <td><%= participant.name %></td>
      <td><%= participant.age %></td>
      <td><%= participant.email %></td>
      <td><%= participant.perception %></td>
      <td><%= participant.synesthesia %></td>
      <td><%= participant.blindness %></td>
      <td><%= link_to 'Show', participant %></td>
      <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
      <td><%= link_to 'Destroy', participant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Participant', new_participant_path %>
</div>
